body {
    background-image: url('Nivel3back.png');
    background-size: cover; /* Acoperă întreaga pagină */
    background-repeat: no-repeat; /* Evită repetarea imaginii */
    background-position: center center; /* Centrează imaginea */
    background-attachment: fixed; /* Imaginea rămâne fixă când faci scroll */
    font-family: 'Arial', sans-serif;
    color: #1a047a;
    font-size: 30px;
    background-color: white;
    color: rgb(23, 230, 23);
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 0;
    
    text-align: center;
    
}
.highlight {
    background-color: #7c5382;
}
button {
    padding: 10px 20px;
    background-color: #d2691e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8b4513;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin: 20px 0;
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  